@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';
@import '../../../../../styles/functions';



:host {
  @include page-background;
  background-image: url('/images/slot/game_background.jpg');

  padding: 0 10px;

  app-audio-player {
    position: absolute;
    top: 30px;
    left: 200px;
  }

  app-countdown {
    position: absolute;
    top: 30px;
    right: 200px;
  }

  app-button-back {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 3;
  }

  .message {
    @include flex-center;
    padding: 0 20px;
    flex-direction: column;
    gap: 30px;
    max-width: 50vw;
    height: 50vh;
    background: color-with-opacity($white, 0.7);
    border: 2px solid $gold;
    border-radius: 29px;
    font-size: 48px;
    color: $dark-red;
    text-align: center;


    .navigate-control {
      cursor: pointer;
      padding: 10px 20px;
      background-color: transparent;
      transition: background-color 0.2s;
      border: 3px solid $dark-red;
      border-radius: 29px;
      font-size: 36px;
      color: $dark-red;

      &:hover {
        background-color: color-with-opacity($gold, 0.5);
      }
    }
  }
}

@media (max-width: 899px) {
  :host {
    background-position-x: 70%;

    app-audio-player {
      position: absolute;
      top: 20px;
      left: 120px;
    }

    app-countdown {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    app-button-back {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 3;
    }

    .message {
      width: 100%;
      max-width: 100%;
      font-size: 38px;
    }
  }
}
