@import '../../../../../styles/mixins';

.carousel-item {
  position: relative;

  .carousel-item-jackpot {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;

    &-value {
      font-family: 'CorpoSansSemiBold';
      font-size: 15px;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    }
  }

  .carousel-item-badge {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 193px;
  }

  &:not(.locked):hover {
    .carousel-item-image {
      @include drop-shadow;
    }
  }

  &.locked .carousel-item-image {
    filter: grayscale(100%);
  }
}
