@import '../../../../../styles/variables';
@import '../../../../../styles/functions';

:host {
  max-width: 46px;
  display: block;
  padding: 0 3px;
  box-shadow:
    inset 0px -5px 5px -1px color-with-opacity($black, 0.7),
    inset 0px 9px 6px -5px color-with-opacity($white, 0.9);
  border: 1px solid $dark-red;
  border-radius: 9px;
}
