@import '../../../../../styles/variables';
@import '../../../../../styles/functions';
@import '../../../../../styles/mixins';

:host {
  @include glass-element;
  position: absolute;
  top: 30px;
  left: 200px;
  max-width: 46px;
  z-index: 2;
}
