@import '../../../../../styles/mixins';

:host {
  @include page-background;
  gap: 30px;

  .audio-player-button {
    position: absolute;
    top: 30px;
    left: 200px;
  }

  app-countdown {
    position: absolute;
    top: 30px;
    right: 200px;
  }
}
