<div class="slot-machine-inner">
  <div class="jackpots-info">
    <div class="jackpots-info-inner">
      <div
        *ngFor="let jackpot of jackpots; let i = index"
        class="jackpot-info"
        [appAnimateNumber]="jackpot.value"
        [duration]="4000 - (500 * i)"></div>
    </div>
  </div>

  <div class="number-seven-badges">
    <div class="number-seven-badges-inner">
      <div
        *ngFor="let _ of numberSevenBadges;"
        class="number-seven-badge">
      </div>
    </div>
  </div>

  <div class="total-bet">{{ totalBet | number:'1.0-0':'en-US'}}</div>
  <div class="bet">{{ bet | numberAbbreviation }}</div>
  <div class="button-bet-minus"></div>
  <div class="button-bet-plus"></div>
  <div class="button-info"></div>
  <div class="button-maxbet"></div>
  <div class="logo"></div>
  <button [disabled]="reelsRunning$ | async" class="button-spin" (click)="runSpin()"></button>

  <ng-container *ngIf="reelsState">
    <div
      *ngFor="let reel of reelsState; let reelsIndex = index;"
      class="reels"
      [ngClass]="'reels-' + (reelsIndex + 1)"
    >
      <div class="reels-inner">
        <div #symbolsActiveRef
             class="symbols-active"
             [ngStyle]="{'animation-duration': activeReelsSpinAnimationDuration + 'ms'}"
        >
          <div
            class="image-container"
            *ngFor="let image of reel.active; let i = index"
          >
            <img [src]="image" [alt]=i>
          </div>
        </div>
        <div #symbolsComingRef
             class="symbols-coming"
             [ngStyle]="{'height': comingReelsHeight}"
        >
          <div
            class="image-container"
            *ngFor="let image of reel.coming; let i = index"
          >
            <img [src]="image" [alt]=i>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
