:host {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .carousel {
    overflow-x: hidden;

    .carousel-wrapper {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 9px;
      position: relative;
      left: 0;
      transition: .3s;
    }
  }

  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &-right {
      right: 0;
    }

    &-left {
      left: 0;
    }
  }

  .dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
