:host {
  width: 900px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  //gap: 10px;
  justify-content: center;
  position: relative;

  .carousel {
    overflow-x: hidden;
    max-width: 800px;

    .carousel-wrapper {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: calc((100% - (9px * (var(--per-view) - 1))) / var(--per-view));
      grid-gap: 9px;
      position: relative;
      left: 0;
      transition: .3s;

      > * {
        aspect-ratio: 193 / 427;
      }
    }
  }

  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &-right {
      right: 0;
    }

    &-left {
      left: 0;
    }
  }

  .dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    span {
      display: block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      background-color: gray;
      cursor: pointer;

      &.active {
        background-color: blue;
      }
    }
  }
}
